<div class="fullscreen" #container> <!-- Conteneur principal -->

  <img
    class="image-principale"
    src="assets/icon/sacrements.jpg"
    alt="Image principale"
  > 

  <div class="sparkles"> <!-- Conteneur des étincelles -->
    <span class="sparkle sparkle-1">✦</span> <!-- Étincelle 1 -->
    <span class="sparkle sparkle-2">✧</span> <!-- Étincelle 2 -->
    <span class="sparkle sparkle-3">✦</span> <!-- Étincelle 3 -->
    <span class="sparkle sparkle-4">✧</span> <!-- Étincelle 4 -->
    <span class="sparkle sparkle-5">✦</span> <!-- Étincelle 5 -->
    <span class="sparkle sparkle-6">✧</span> <!-- Étincelle 6 -->
    <span class="sparkle sparkle-7">✦</span> <!-- Étincelle 7 -->
    <span class="sparkle sparkle-8">✧</span> <!-- Étincelle 8 -->
    <span class="sparkle sparkle-9">✦</span> <!-- Étincelle 9 -->
    <span class="sparkle sparkle-10">✧</span> <!-- Étincelle 10 -->
    <span class="sparkle sparkle-11">✦</span> <!-- Étincelle 11 -->
    <span class="sparkle sparkle-12">✧</span> <!-- Étincelle 12 -->
  </div>

  <audio
    #audioPlayer
    src="assets/audio/sacramentus.mp3"
    preload="auto"
    loop> <!-- Lecteur audio en boucle -->
  </audio>
  

  @if(isPlaying()){
    <button (click)="toggleMusique()" class="bu">⏸</button>
  }@else{
    <button (click)="toggleMusique()" class="bu">▶</button>
  }
 
